.wrapper-addJobPosition {
  min-height: 50% !important;
  height: 70%;
  width: 35%;
  background-color: white;
  margin-top: 40px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 0px 0px inset;
}

.wrapper-addJobPosition > h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.wrapper-addJobPosition > form {
  width: 80%;
}

.wrapper-addJobPosition > form > .form-field {
  width: 100%;
  margin: 15px 0;
}

.wrapper-addJobPosition > form > .form-field > input {
  background-color: rgba(204, 204, 204, 0.411);
  margin: 0 5px;
}

.wrapper-addJobPosition > form > .form-field > div > input {
  background-color: rgba(204, 204, 204, 0.411);
  margin: 0 5px;
}

.wrapper-addJobPosition > form > .form-field > input[type="checkbox"] {
  width: auto;
}

.wrapper-addJobPosition > form > .form-field > select {
  width: 50%;
  height: 35px;
  margin: 0 5px;
}

.wrapper-addJobPosition > form > .form-field > label {
  margin: 0 5px;
}

.wrapper-addJobPosition > form > .form-field > textarea {
  background-color: rgba(204, 204, 204, 0.411);
  width: 100%;
  margin: 0 5px;
  padding: 5px;
  height: 100px;
  border: none;
}

.wrapper-addJobPosition > form > .form-field > .form-check {
  width: 100%;
  margin: 0 5px;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

.wrapper-addJobPosition > form > .form-field > * {
  font-size: 14px;
}

.wrapper-addJobPosition > form > button {
  border: none;
}

.descriptionModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 55%;
  width: 20%;
  position: absolute;
  left: 80%;
  top: 15%;
  background-color: white;
  padding: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 0px 0px inset;
  transform: translate(100%);
  transition: .5s all ease-in-out;
}

.descriptionModal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.descriptionModal > div > h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0!important;
}

.descriptionModal > textarea {
  padding: 5px 10px;
  font-size: 12px;
  height: 500px;
}

.descriptionModal > textarea:focus {
  outline: none;
}

.descriptionModal > div > button {
  outline: none;
  border: none;
  color: red;
  cursor: pointer;
}

.form-field > button {
  margin: 0 10px;
}

.description-button {
  background-color: rgb(61, 177, 161);
}

.description-button:hover {
  background-color: rgb(61, 177, 161)!important;
  opacity: 0.9!important;
}

.positionsToCoverWhenInternship {
  height: 34px;
  margin-top: 20px;
}

.positionsToCoverWhenEmployment {
  height: 34px;
  margin-top: 20px!important;
}